### General
baseURL = 'https://plctlab.github.io' # Enter your full production URL
languageCode = 'en-us' # Default
timeZone = 'America/New_York' # IANA timezone https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
title = 'PLCT Lab' # Site title used throughout site
theme = 'hugo-liftoff'

### SEO, Analytics & 3rd-party
enableRobotsTXT = true # To overwrite the theme's robots.txt, add your own in the /layouts/ directory
rssLimit = -1 # -1 is unlimited RSS entries
googleAnalytics = 'G-1WLCFRCXQZ' # Enter GA tracking ID to enable GA4
# disqusShortname = '' # Enter Disqus shortname to enable comments

### Content & Publishing
# Please see https://gohugo.io/getting-started/configuration/ for detailed explanations
buildDrafts = false # Default
buildExpired = false # Default 
buildFuture = false # Default
canonifyURLs = false # Default
DefaultContentLanguage = "en"
DefaultContentLanguageInSubdir = true
# uglyURLs = true
ignoreLogs = ['warning-goldmark-raw-html']

[languages]
  [languages.en]
    contentDir = 'content/en'
    disabled = false
    languageCode = 'en-US'
    languageDirection = 'ltr'
    languageName = 'English'
    title = 'PLCT Lab'
    weight = 2
  [languages.en.menus]
  [[languages.en.menus.main]]
    name = "PLCT-Weekly"
    url = "/en/posts/plct-weekly/"
    weight = 5
  [[languages.en.menus.main]]
    identifier = "News"
    name = "News"
    url = "/en/news/"
    weight = 4
  [languages.zh]
    contentDir = 'content/zh'
    disabled = false
    languageCode = 'zh-CN'
    languageDirection = 'ltr'
    languageName = '简体中文'
    title = 'PLCT Lab'
    weight = 1
    hasCJKLanguage = true
    summaryLength = 230
  [languages.zh.menus]
    [[languages.zh.menus.main]]
    name = "PLCT-Weekly"
    url = "/en/posts/plct-weekly/"
    weight = 5
  [[languages.zh.menus.main]]
    identifier = "News"
    name = "新闻"
    url = "/zh/news/"
    weight = 4
  [[languages.zh.menus.main]]
    identifier = "forum"
    name = "RuyiSDK 论坛"
    url = "https://ruyisdk.cn"
    weight = 3
  [languages.ru]
    contentDir = 'content/ru'
    disabled = false
    languageCode = 'ru-RU'
    languageDirection = 'ltr'
    languageName = 'Русский'
    title = 'PLCT Lab'
    weight = 3
    [languages.ru.menus]
      [[languages.ru.menus.main]]
    name = "PLCT-Weekly"
    url = "/en/posts/plct-weekly/"
    weight = 5
  [[languages.ru.menus.main]]
    identifier = "News"
    name = "Новости"
    url = "/ru/news/"
    weight = 4
  [languages.ja]
    contentDir = 'content/ja'
    disabled = false
    languageCode = 'ja-JP'
    languageDirection = 'ltr'
    languageName = '日本語'
    title = 'PLCT Lab'
    weight = 4
    hasCJKLanguage = true
    summaryLength = 230
    [languages.ja.menus]
      [[languages.ja.menus.main]]
    name = "PLCT-Weekly"
    url = "/en/posts/plct-weekly/"
    weight = 5
  [[languages.ja.menus.main]]
    identifier = "News"
    name = "消息"
    url = "/ja/news/"
    weight = 4
  [languages.ko]
    contentDir = 'content/ko'
    disabled = false
    languageCode = 'ko-KR'
    languageDirection = 'ltr'
    languageName = '한국어'
    title = 'PLCT Lab'
    weight = 5
    hasCJKLanguage = true
    summaryLength = 230
        [languages.ko.menus]
          [[languages.ko.menus.main]]
    name = "PLCT-Weekly"
    url = "/en/posts/plct-weekly/"
    weight = 5
  [[languages.ko.menus.main]]
    identifier = "News"
    name = "소식"
    url = "/ko/news/"
    weight = 4
#disableAliases = true # Set to true if using server (Netlify, .htaccess) for redirects instead of Hugo
disableKinds = [] # Default
enableEmoji = true # Use Emojis in content
enableGitInfo = false # Default, enable to use git for lastmod (can be overwritten in frontmatter)
ignoreFiles = [] # Default
# newContentEditor = 'code' # Set VS Code as default editor
paginate = 10 # Default
paginatePath = 'page' # Default
#pluralizeListTitles = true # Default
publishDir = 'public' # Default
relativeURLs = false # Default
titleCaseStyle = 'AP' # Default, other options: Chicago (slightly different) or Go (all first letters capitalized)

### Other
archetypeDir = 'archetypes' # Default
assetDir = 'assets' # Default
dataDir = 'data' # Default
disableHugoGeneratorInject = false # Default
disableLiveReload = false # Default

[taxonomies]
    tag = 'tags'
    category = 'categories'    
    series = 'series' # Allows you to create an organized series of posts (e.g. multi-part tutorial)
    project-type = 'project types' # Categorize projects by type (e.g. client work, personal, open source, etc.)

[permalinks]
    [permalinks.page]
        # e.g. /subsection/example-post instead of /posts/subsection/example-post
        posts = '/:sections[last]/:slug/' # Removes 'posts' from the permalink structure for posts created under nested sub-sections
    [permalinks.section]
        # e.g. /subsection/ instead of /posts/subsection/
        posts = '/:slug/'

[markup]
  defaultMarkdownHandler = 'goldmark' # Default (everything under [markup] is unless otherwise specified)
  [markup.goldmark]
    [markup.goldmark.extensions]
      definitionList = true
      footnote = true
      linkify = true
      linkifyProtocol = 'https'
      strikethrough = true
      table = true
      taskList = true
      typographer = true
    [markup.goldmark.parser]
      autoHeadingID = true
      autoHeadingIDType = 'github'
      [markup.goldmark.parser.attribute]
        block = false
        title = true
    [markup.goldmark.renderer]
      hardWraps = false
      unsafe = false
      xhtml = false
  [markup.highlight]
    anchorLineNos = false
    codeFences = true
    guessSyntax = false
    hl_Lines = ''
    lineAnchors = ''
    lineNoStart = 1
    lineNos = true # Not the default
    lineNumbersInTable = false # Not the default
    noClasses = true
    noHl = false
    style = 'monokai'
    tabWidth = 4
  [markup.tableOfContents]
    endLevel = 3
    ordered = false
    startLevel = 2

[related]
  # Default related posts settings
  includeNewer = false
  threshold = 80
  toLower = false
[[related.indices]]
  name = 'keywords'
  weight = 100
[[related.indices]]
  name = 'date'
  weight = 10
# Remove if not using tags taxonomy
[[related.indices]]
  name = 'tags'
  weight = 80

[sitemap]
  # Default sitemap settings
  changefreq = 'monthly'
  filename = 'sitemap.xml'
  priority = 0.5

[frontmatter]
  # Default frontmatter date settings
  date = ['date', 'publishDate', 'lastmod']
  expiryDate = ['expiryDate']
  lastmod = ['lastmod', ':git', 'date', 'publishDate']
  publishDate = ['publishDate', 'date']

[caches]
  # Default cache settings
  [caches.assets]
    dir = ':resourceDir/_gen'
    maxAge = -1
  [caches.getcsv]
    dir = ':cacheDir/:project'
    maxAge = -1
  [caches.getjson]
    dir = ':cacheDir/:project'
    maxAge = -1
  [caches.images]
    dir = ':resourceDir/_gen'
    maxAge = -1
  [caches.modules]
    dir = ':cacheDir/modules'
    maxAge = -1

[imaging]
  # Default image processing settings
  anchor = 'Smart'
  bgColor = '#ffffff'
  hint = 'photo'
  quality = 75
  resampleFilter = 'Box'

### Hugo Pipes
[minify]
  disableCSS = false
  disableHTML = false
  disableJS = false
  disableJSON = false
  disableSVG = false
  disableXML = false
  minifyOutput = false
  [minify.tdewolff]
    [minify.tdewolff.css]
      keepCSS2 = true
      precision = 0
    [minify.tdewolff.html]
      keepComments = false
      keepConditionalComments = true
      keepDefaultAttrVals = true
      keepDocumentTags = true
      keepEndTags = true
      keepQuotes = false
      keepWhitespace = false
    [minify.tdewolff.js]
      keepVarNames = false
      noNullishOperator = false
      precision = 0
    [minify.tdewolff.json]
      keepNumbers = false
      precision = 0
    [minify.tdewolff.svg]
      precision = 0
    [minify.tdewolff.xml]
      keepWhitespace = false

### Netlify settings
# add redirects/headers
[outputs]
  home = ["HTML", "RSS", "REDIRECTS", "HEADERS"]

# remove .{ext} from text/netlify
[mediaTypes."text/netlify"]
  suffixes = [""]
  delimiter = ""

# add output format for netlify _redirects
[outputFormats.REDIRECTS]
  mediatype = "text/netlify"
  baseName = "_redirects"
  isPlainText = true
  notAlternative = true

# add output format for netlify _headers
[outputFormats.HEADERS]
  mediatype = "text/netlify"
  baseName = "_headers"
  isPlainText = true
  notAlternative = true
